
//  Layout

#page-wrapper {
  overflow: auto;
  position: relative;
  width: 100%;
  padding: 5em 2%;
  margin: 0;
}

#header,
#nav,
#breadcrumb,
.not-front #main-wrapper,
#footer {
  @include outer-container;
  position: relative;
  width: 95%;
  padding: 0;
}
