
//  Layout

#page-wrapper {
  overflow: auto;
  position: relative;
  width: 100%;
  padding: 5em 2%;
  margin: 0;
}

// Utility class for modular css.
.container,
// Drupal specific selectors so we don't have to change the markup.
#header,
#nav,
#breadcrumb,
.not-front #main-wrapper,
#footer {
  @include outer-container;
  position: relative;
  width: 95%;
  padding: 0;
}
